/* This is my CSS file */
/* Background Color */
.background {
    background-color:blue;
  }
  .my-lists {
    background-color: magenta;
  }
  h1 {
    background-color: black;
    color: white;
  }
  h2 {
    background-color: cyan;
    color: orange;
  }
  h3 {
    background-color: yellow;
    color: rgb(0, 0, 0);
  }

  /* Unit */
  html {
    font-size: 16px;
  }
  
  .ems li {
    font-size: 1em;
  }
  
  .rems li {
    font-size: 1rem;
  }
  .dialogue{
    position: absolute;
    width:200px;
    padding: 1em;
    border-radius: .5em;
    border: 5px solid rebeccapurple;
    background-color: lightblue;
    color: white;
    left: 70px;
  }
  
  .dialogue::after {
    content: "I'm gonna eat your brain!"
  }

  /* Text */
  /* Color */
  /* 50% translucent in red*/
p { color: rgba(255,182,193); }